<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- <suite name="Suite" parallel="tests" thread-count="2"> -->
<suite name="Suite" parallel="tests" thread-count="3">
	<test name="Preview: File uploads [form autofileUpload]" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.PreviewForms">
				<methods>
					<include name="previewfileUpload"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test name="Preview: Sum API actions" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.PreviewForms">
				<methods>
					<include name="previewSum"></include>
				</methods>
			</class>
		</classes>
	</test> 
	<test name="Preview: Dropdowns- multiple API actions" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.PreviewForms">
				<methods>
					<include name="previewDropdown"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test name="Buid in editor: File upload test form" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.BuildForms">
				<methods>
					<include name="bulidFileUpload"></include>
				</methods>
			</class>
		</classes>
	</test> 
	<test name="Buid in editor: Basic Fields test form [not used in other tests]" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.BuildForms">
				<methods>
					<include name="buildBasicFields"></include>
				</methods>
			</class>
		</classes>
	</test> 
	<test name="Buid in editor: Sum API actions test form" preserve-order="true">
		<classes>
			<class name="test.auto.ficxqa.BuildForms">
				<methods>
					<include name="buildSumApi"></include>
				</methods>
			</class>
		</classes>
	</test> 
</suite> 
